body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: rgb(251, 251, 253);
}

h1 {
  text-align: center;
}

form {
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 8px;
  width: 200px;
}

button {
  padding: 8px 16px;
}

#searchResults {
  margin-top: 20px;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fefefe;
  border-radius: 10px;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
  text-align: center;
}
.modal-content button {
  background-color: rgb(59, 194, 115);
  border-style: none;
  border-radius: 10px;
  cursor: pointer;
}
.modal-content button:hover {
  background-color: rgb(49, 174, 95); 
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 300px;
  height: 400px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  background-color: #010101;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-name {
  display: block;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  color: white;
}

.card-favorite-button {
  width: 100%;
  padding: 10px;
  margin-top: -10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-favorite-button:hover {
  background-color: #0056b3;
}
.favori-wrapper {
  display: inline-block;
  width: 200px; 
  height: 300px;
  text-align: center;
  margin: 10px;
}



.favori-wrapper button {
  margin-top: 5px;
}

#footer {
  display: flex;
  justify-content: center;

}



#alphabet {
  display: flex;
  justify-content: center;
  background-color: black;
}

#alphabet a {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #efefef;
}

#alphabet a:hover {
  background-color: #162b92;
}
a {
  position: relative;
  margin-left: 90%;
}
#favorisContainer {
  width: 500px;
  margin: 0 auto; 
  padding: 100px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
}

.favori-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  
}

.favori-name {
  flex-grow: 1;
  font-size: 15px;
  color: black;
  color: white;
}

.delete-button {
  font-size: 14px;
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 10px;
}